
form{
    text-align: center;
    width: 70vw;
    height: 80vh;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.25) 0%, rgba(0, 255, 33, 0.35) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.breaker 
{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #e62222;
    background: red;
    color:whitesmoke;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.breaker:hover {
    background: #5d8cf2;
   }
/* From cssbuttons.io by @EmmaxPlay */
.spinner {
    position: relative;
    width: 40vw;
    height: 40vh;
    border-radius: 50%;
   }
   
   .spinner::before,
   .spinner:after {
    content: "";
    position: absolute;
    border-radius: inherit;
   }
   
   .spinner:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin8932 .5s infinite linear;
   }
   
   .spinner:after {
    width: 85%;
    height: 85%;
    background-color: #212121;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   @keyframes spin8932 {
    to {
     transform: rotate(360deg);
    }
   }
.NiGHTS{
    display: inline-block;
    margin: 0;

    font-size: smaller ;
    border-radius: 20%;
    width: auto;
    height: auto;
    background: conic-gradient(#a000fe 0%, #18004d 20%, #a000fe 100%);
    color: #e6e6e6;
}