nav{
    display: flex;
    border-radius: 10%;
    padding: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(133, 89, 158, 0.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10%;
    padding: 1rem;
}

label{
    font-family: inherit;
    font-weight: 900;
    text-shadow: -2px 3px 11px #fb59fd;
    color:#f7da6c;
    border-radius: 70%;
    background: linear-gradient(95deg, #9700ff 0%, #aceae1 100%)
}
select{
    background-color: aliceblue;
    color:darkolivegreen
}
input{
    background-color: aliceblue;
    color:darkolivegreen
}
.butt {
    background: #ffcc13;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    margin-right: 4rem;
   }
   
.butt:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
.butt:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }
.input{
       height: 5vh;
   }
.paloma{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}