html {
  min-width: 100%;
  min-height: 100vh;
}
body {
  background-image: url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}
.JUMBOTRON{
  display: none;
  background:radial-gradient(#a000fe 0%, #18004d 100%);
  border-radius: 15px;
  width: 50vw;
}
.JUMBOFONT{

}
.JUMBUTTON{

}